@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-gov.min.css");

body {
    overflow: hidden;
}
body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#logo {
    width: 150px;
    margin-bottom: 20px;
}

#logo img {
    width: 100px;
    height: 100px;
}

.content h1, .content h2 {
    margin: 0;
    padding: 5px;
}

.content h1 {
    font-size: 36px;
    font-family: 'Pretendard', sans-serif;
}

.content h2 {
    font-size: 24px;
    color: gray;
    white-space: nowrap;
    font-family: 'Pretendard Medium', sans-serif;
}